body,
html {
	background-color: rgb(50, 115, 160);
	font-size: 1.15rem;
	margin: 0;
}

header,
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}


.content,
.logo,
.menu {
	display: flex;
}

div.logo h1 {
	font-size: 1.75rem;
	color: white;
}

div.logo {
	align-self: flex-start;
	margin-left: 1.5rem;
}

.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	margin: 0 1rem;
}

.content {
	background-color: whitesmoke;
	justify-content: center;
}

.content > article {
	width: 65rem;
	margin: 1.5rem 1.2rem 3.5rem;
}

article p {
	text-align: justify;
}

article > aside {
    background-color: lightgray;
    float: right;
    text-align: center;
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1.1rem;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer a:hover,
.menu a:hover {
	text-decoration: underline;
	color: black;
} 